.articles{
    display: flex;
    padding: 56px 110px;
    position: relative;
    max-width: 1440px;
    justify-content: center;
    margin: auto;
    color:#413E52;
}

.articles-container{
    max-width: 1362px;
    display: flex;
    flex-direction: column;
}

.nav-line{
    width:100%;
    height: 1px;
    background: #868297;
    position: relative;
}

.nav-thickline{
    width: 148px;
    height: 4px;
    background: #413E52;
    position: absolute;
    top: -1.5px;
}

.section-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.section-nav__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.view-all{
    text-transform: capitalize;
    font-size: 14px;
}

.arrow-svg {
    transform: translateY(2px);
}

.card{
    display: flex;
    justify-content:space-between;
    flex-direction: column-reverse;
    border: 1px solid #EBEAF2;
    border-radius: 8px;
    height: 407px;
    cursor: pointer;
}

.card-text{
    padding: 30px 0 43px 25px;
}

.cards-container{
    display: flex;
    gap: 56px;
}

.card-author{
    color:#868297;
    font-size: 13px;
    margin: 31px 0 15px 0;
}

.card-subtitle{
    font-size: 19px;
    width: 270px;
}

@media (max-width: 1263px){
    .cards-container {
        display: flex;
        gap: 9px;
    }
}

@media (max-width: 1143px){
    .cards-container {
        display: flex;
        gap: 9px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 391px){
    .card-img img {
        width: 310px;
    }
}

@media (max-width: 484px){
    .articles{
        padding: 40px 64px;
    }
    .card-text {
        padding: 13px 0 19px 25px;
    }
    .card {
        height: 370px;
    }
    .card-author {
        margin: 20px 0 15px 0;
    }
    
}

@media (max-width: 966px){
    .card {
        width: 100%;
        height: unset;
    }
}

