.news{
    display: flex;
    padding: 77px 110px 247px;
    position: relative;
    max-width: 1440px;
    justify-content: center;
    margin: auto;
    color:#413E52;
}

.news-container{
    max-width: 1362px;
    display: flex;
    position: relative;
    background-color: #fff;
    gap: 55px;
}

.news-section-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.news-nav-line{
    width:100%;
    height: 1px;
    background: #868297;
    position: relative;
}

.news-section-nav__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.news-nav-thickline--mobile{
    width: 179px;
    height: 4px;
    background: #413E52;
    position: absolute;
    top: -1.5px;
}

.news-item{
    width: 369px;
}

.adbox{
    border-radius: 8px;
    background-color: #111131;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 48px;
    box-sizing: border-box;
    height: 483px;
}

.head-ing{
    color:#5C5CFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 18px;
    margin-top: 43px;
    text-align: center;
}

.adbox-title{
    font-size: 23px;
    line-height: 36px;
    width: 266px;
    text-align:center;
    margin: 9px 0 37px 0;
}

.adbox-bttns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.adbox-btn{
    width: 273px;
    height: 56px;
}

.news-nav-thickline {
    width: 123px;
}

@media (max-width: 1253px){
    .news-container {
        gap: 35px;
    }
    .adbox{
        padding: 35px;
    }
    .news-item{
        width: 319px;
    }
}

@media (max-width: 1059px){
    .news-container {
        display: flex;
        flex-direction: column;
    }
    .adbox{
        padding: 35px;
    }
    .news-item{
        width: 100%;
    }
    .topics{
        gap:20px;
    }
}

@media (max-width: 475px){
    .news {
        padding: 30px 110px 247px;
    }
}

@media (max-width: 395px){
    .news {
        padding: 30px 110px 247px;
    }
}

